{% extends "base.html" %}

{% block title %} inicio {% endblock %}

{% block contenido %} 

<div class="p-5 bg-light transparent">
    <div class="container">
        <h1 class="display-3 ">Bienvenido Pueblito Mágico Tepotzotlán </h1>
        <p class="lead">Empieza tu experiencia</p>
        <hr class="my-2">
    
<p class="lead"></p>
        <button class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Empezar</button>
        <a href="{% url 'login' %}" class="btn btn-secondary btn-lg">Iniciar sesión </a>

    </div>
</div>

{% endblock %}
