{% extends "base.html" %}

{% block title %} Lista de Platillos {% endblock %}

{% block contenido %} 

<div class="card">
    <div class="card-header">
        <a class="btn btn-success" href="{% url 'agregar_platillo' %}" role="button">
            Agregar nuevo platillo
        </a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Platillos</h4>

        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Título</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for platillo in platillos %}
                    <tr>
                        <td>{{ platillo.id }}</td>
                        <td>{{ platillo.nombre }}</td>
                        <td>
                            {% if platillo.imagen %}
                                <img src="{{ platillo.imagen.url }}" alt="Imagen de {{ platillo.platillo }}" width="50">
                            {% else %}
                                No disponible
                            {% endif %}
                        </td>
                        <td>{{ platillo.descripcion }}</td>
                        <td>${{ platillo.precio }}</td>
                        <td>
                            <a class="btn btn-info" href="{% url 'editar_platillo' platillo.id %}" role="button">
                                Editar
                            </a>
                            | 
                            {% if platillo.activo %}
                                <a class="btn btn-warning" href="{% url 'ocultar_platillo' platillo.id %}" role="button">
                                    Ocultar
                                </a>
                            {% else %}
                                <a class="btn btn-success" href="{% url 'mostrar_platillo' platillo.id %}" role="button">
                                    Mostrar
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5" class="text-center">No hay platillos disponibles.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer text-muted">Footer</div>
</div>

{% endblock %}

